.navbar-container {
    background: var(--primary-bg-color);
    padding: 5px 15px;
    border-bottom: 1px solid black;
    /* box-shadow: 0 0 5px black; */
  }

  .navbar-container a {
    color: black;
  }
  
  .navbar-logo {
    width: clamp(15px, 10vw, 100px);
    height: 100%;
  }
  
  .logo-long-text, .logo-short-text {
    font-family: 'Merriweather', 'Raleway', sans-serif;
    padding: 5px 15px;
    letter-spacing: 1px;
    /* font-size: clamp(7px, 5vw, 50px); */
    font-size: 1.6rem;
    font-weight: 200;
    width: 100px;
    color: black;
  }
  
  .logo-short-text {
    font-size: clamp(1.6rem, 4vw,3rem);
    padding: 5px;
    display: none;
  }
  
  .bold {
    font-family: inherit;
    font-weight: 400;
    font-size: 2rem;
  }
  
  .navbar-items-container {
    height: 100%;
    gap: 1.25rem;
    /* border: 1px solid red; */
  }
  
  .navbar-items-container ul {
    justify-content: flex-end;
  }
  
  .navbar-items ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
    font-size: 1.1rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .navbar-upper-items ul {
    display: flex;
    gap: .5rem;
    list-style: none;
    font-size: .9rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  
  .navbar-items-container li {
    border-radius: .25rem;
    padding: .5rem;
    cursor: pointer;
  }
  
  .navbar-upper-items > ul > li:last-child {
    background: black;
    font-weight: 800;
    color: white;
    transition: color 250ms ease-in-out, background 250ms ease-in-out, box-shadow 250ms ease-in-out;
  }
  
  .navbar-upper-items > ul > li:last-child:hover {
    box-shadow: 0 0 0 2px black inset;
    background: white;
    font-weight: 800;
    color: black;
    transition: color 150ms ease-in-out, background 250ms ease-in-out, box-shadow 250ms ease-in-out;
  }
  
  .dropdown {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    box-shadow: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 15%);
    z-index: 999;
    transition: opacity 150ms ease-in-out;
  }
  
  .dropdown ul {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    text-decoration: none;
    gap: 0 !important;
    list-style: none;
    width: 200px;
  }
  
  .dropdown li {
    border-bottom: 1px solid rgb(255, 255, 255);
    border-radius: 0;
    width: 100%;
    background: var(--primary-bg-color);
    text-align: center;
    font-weight: 400;
    font-size: .9rem;
    padding: 15px 0;
  }
  
  .resource-menu-item {
    position: relative;
  }

  .resources-dropdown {
    left: -30px;
    top: 35px;
  }

  .resource-menu-item:hover .resources-dropdown {
    opacity: 1;
    transition: opacity 250ms ease-in-out;
    pointer-events: auto;
  }
  
  .navbar-items-container li:hover {
    background: var(--hover-color);
  }

  .dropdown-arrow {
    transition: transform 250ms ease-in-out;
  }

  .menu-drop:hover .dropdown-arrow {
    transition: transform 250ms ease-in-out;
    transform: rotate(-180deg);
  }

  .navbar-container .inactive li{
    opacity: 0;
    pointer-events: none !important;
    visibility: hidden;
  }

  .navbar-container .inactive a {
    pointer-events: none !important;
    cursor: default !important;
    visibility: hidden;
  }

  @media screen and (max-width: 950px) {
    /* .navbar-container {
      width: 100vw;
      z-index: 999;
      position: fixed;
      top: 0;
      box-shadow: var(--box-shadow-0);
    } */

    .navbar-items-container, .logo-long-text {
      display: none;
    }
  
    .logo-short-text {
      display: block;
    }
  }