.sidebar-container {
    display: flex;
    align-items: center;
    background: white;
    position: fixed;
    padding: 30px;
    right: 0;
    top: 0;
    height: 100vh;;
    width: 500px;
    box-shadow: inset 0 0 0 1px #dedddc, 0 0 16px 0 rgb(0 0 0 / 15%);
    transition: transform 250ms ease-in-out;
    z-index: 888;
}

.sidebar-container ul {
    text-decoration: none;
    list-style: none;
}

.sidebar-container li {
    text-transform: uppercase;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
}

.closed {
    /* display: none; */
    transform: translate(200vw, 0);
}

.open-container {
    background:rgb(0, 0, 0, 15%) !important;
    transition: background 100ms ease-in-out !important; 
    pointer-events:all !important;
}

.sidebar {
    position: absolute;
    background:rgb(0, 0, 0, 0%);
    transition: background 100ms ease-in-out; 
    /* backdrop-filter: blur(5px); */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 500;
    pointer-events: none;
}

@media screen and (min-width: 950px) {
    .sidebar-container {
        display: none;
    }

    .sidebar {
        display: none;
    }
}