.navbar-search {
    position: relative;

}

.navbar-searchbar {
    opacity: 0;
    width: 4vw;
    padding: 10px;
    border-radius: 20px;
    position: absolute;
    transition: width 200ms ease-in-out, opacity 200ms ease-in-out;
    top: 2px;
    right: 50px;
    pointer-events: none;
}

.close-search-button {
    color: var(--light-grey-color-0);
    font-size: 1.5rem;
    top: 9px;
    right: 65px;
    z-index: 2;
    position: absolute;
    border: none;
    background: none;
    cursor: pointer;
    transition: opacity 200ms ease-in-out;
}

.active-searchbar {
    opacity: 1;
    font-size: .9rem;
    pointer-events: all;
    width: clamp(200px, 50vw, 650px);
}

.active-search {
    opacity: 1;
    pointer-events: all;
}

.inactive-button {
    opacity: 0;
    pointer-events: none;
}

#search-icon {
    font-size: 1.5rem;
    border-radius: 50% !important;
    width: 45px;
    height: 45px;
    background: none;
    border: none;
    cursor: pointer;
}

#search-icon:hover {
    background: var(--hover-color);
}